.bootstrap .wrapper
{
width:80%;
margin:auto;
}

.bootstrap
{
background-color:lightgrey;
}

.bootstrap .bootstrap-fc
{
display:flex;
justify-content:space-between;
}

.bootstrap .bootstrap-fc .start
{
	width:153px;
	height:65px;
	background-color:white;
}

.bootstrap .bootstrap-fc .signup
{
	width:86px;
	height:65px;
	background-color:white;
}

.landing .wrapper
{
	width:80%;
	margin:auto;
}

.landing
{
	background-color:lightblue;
	height:670px;
}
.landing .landing-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	
}
.landing .landing-fc .text
{
	height:200px;
	background-color:white;
	width:100%;
	margin-top:200px;
}
.landing .landing-fc .box
{
	height:65px;
	background-color:white;
	width:418px;
	margin-top:50px;
}
.landing .landing-fc .button
{
	height:65px;
	background-color:white;
	width:105px;
	margin-top:50px;
}
.feature .wrapper
{
	width:80%;
	margin:auto;
}
.feature 
{
	height:455px;
	background-color:pink;
}
.feature .feature-fc
{
	display:flex;
	justify-content:space-between;
}
.feature .feature-fc .boxa
{
	height:255px;
	width:340px;
	background-color:white;
	margin-top:100px;
}
.feature .feature-fc .boxb
{
	height:255px;
	width:340px;
	background-color:white;
	margin-top:100px;
}
.feature .feature-fc .boxc
{
	height:255px;
	width:340px;
	background-color:white;
	margin-top:100px;
}
.design 
{
	height:1440px;
	background-color:white;
	width:100%;
}
.design .design-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.design .design-fc .boxa
{
	height:480px;
	width:674px;
	background-color:red;
}
.design .design-fc .boxb
{
	height:480px;
	width:674px;
	background-color:white;
}
.design .design-fc .boxc
{
	height:480px;
	width:674px;
	background-color:red;
}
.design .design-fc .boxd
{
	height:480px;
	width:674px;
	background-color:white;
}
.design .design-fc .boxe
{
	height:480px;
	width:674px;
	background-color:red;
}
.design .design-fc .boxf
{
	height:480px;
	width:674px;
	background-color:white;
}
.feedback .wrapper
{
	width:80%;
	margin:auto;
}
.feedback
{
	height:625px;
	background-color:yellow;
}
.feedback .feedback-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.feedback .feedback-fc .text
{
	height:60px;
	width:100%;
	background-color:blue;
	margin-top:80px;
	
}
.feedback .feedback-fc .boxa
{
	height:340px;
	width:357px;
	background-color:blue;
margin-top:50px;
}
.feedback .feedback-fc .boxb
{
	height:340px;
	width:357px;
	background-color:blue;
margin-top:50px;
}
.feedback .feedback-fc .boxc
{
	height:340px;
	width:357px;
	background-color:blue;
margin-top:50px;
}
.ready .wrapper
{
	width:80%;
	margin:auto;
}

.ready
{
	background-color:lightblue;
	height:350px;
}
.ready .ready-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	
}
.ready .ready-fc .text
{
	height:55px;
	background-color:white;
	width:100%;
	margin-top:80px;
}
.ready .ready-fc .box
{
	height:65px;
	background-color:white;
	width:418px;
	margin-top:50px;
}
.ready .ready-fc .button
{
	height:65px;
	background-color:white;
	width:105px;
	margin-top:50px;
}
.copyrights .wrapper
{
width:80%;
margin:auto;
}

.copyrights
{
background-color:lightgrey;
height:200px;
}

.copyrights .copyrights-fc
{
display:flex;
justify-content:space-between;
}

.copyrights .copyrights-fc .detail
{
	width:400px;
	height:100px;
	background-color:white;
	margin-top:40px;
	
}

.copyrights .copyrights-fc .logo
{
	width:100px;
	height:100px;
	background-color:white;
	margin-top:40px;
}